:root {
  font-size: 10px;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@mixin flex-div {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin row-gap($gap: 0px) {
  row-gap: $gap;
}

body {

 main {

  .country-table-container {
    @include flex-div;
    flex-direction: column;

    .country-table {
      overflow: hidden;
      flex-direction: column;
      height: 50rem;
      width: 30rem;
      padding-right: 2px;
      overflow-y: auto;
      font-size: 1.5rem;
      color: rgb(235, 235, 235);

      .table-row {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        border: 2px solid black;
        background: gray;

        &:not(:first-child) {
          border-top: none;
        }

        &:hover {
          cursor: pointer;
          background: rgb(204, 204, 204);
        }

        &:active {
          transform: translateX(-2px);
        }

        .flag-img {
          width: 50px;
          height: 25px;
          object-fit: cover;
          justify-self: start;
        }

        .table-cell {
          @include flex-div;
          padding: 5px;
          height: 100%;

          &:not(:first-child) {
            border-top: none;
          }
        }

        .cell-name {
          width: 200px;
          text-align: center;
          border-right: 2px solid black;
        }

        .cell-numeric {
          display: none;
          width: 90px;
        }

        .cell-active{
          display: flex;
        }

        .cell-hide {
          display: flex;
        }
      }

      .row-hide {
        display: none;
      }
    }
  }

  .chart_container {
    position: relative;
    width: 40rem;
    margin: 0 auto;
    text-align: center;

    .chart_title_container {
      margin-top: 1rem;
      display: flex;
      justify-content: space-evenly;
      font-size: 2rem;
      align-items: center;
      color: rgb(54, 54, 54);

      .fas {
        &:hover {
          color: #000000;
          transform: scale(1.5);
        }
      }
    }
  }

  .covid_info{
    position: absolute;
    right: 0px;
    top: 0px;
    margin: 50px;

    .covid_info__table{
      border-collapse: collapse;
    }

    .covid_info__table > tr > th, td{
      border: 1px solid black;
      padding: 5px;
    }
  }
 }

 footer {
  display: flex;
  justify-content: space-around;
  align-items: center;

  .rs-school_link {
    width: 10rem;
  }

  .authors_wrapper {
    display: flex;
    align-items: center;
    font-size: 2rem;

    .created_by{
      margin-right: 1rem;
      color: #000000;
      font-size: 3rem;
    }

    .authors_list {
      list-style-type: none;

      .author_link {
        color: #000000;
        text-decoration: none;
      }
    }

  }
 }
}
